In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd

In [3]:
df_emr = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\pre_modelling\EMR_combined\02_EMR_combined_with_dd_with_dummies_no_sparse.csv')
df_emr = df_emr.drop(columns = ['Unnamed: 0'])

In [5]:
df_lrx = pd.read_feather(r'F:\Projects\Pfizer_mCRPC\Data\pre_modelling\LRx_Dx_HCPHCos\04_total_with_datediff_and_dummies.feather')

In [6]:
# Check shapes
df_lrx.shape
df_emr.shape

(70883, 4599)

(8524, 208)

In [7]:
df_lrx.head()

,patient_id,pn_flag,age_index,age_pc,c00142_claim_cnt,c00142_flag,c00142_index_max_dd,c00142_index_min_dd,c00142_max_min_dd,c00740_claim_cnt,...,cot_facility_type_physical_medicine_and_rehabilitation,cot_facility_type_psychiatric_hospital,cot_facility_type_rehabilitation_hospital,cot_facility_type_rescue,cot_facility_type_research_institute,cot_facility_type_research_laboratory,hcp_region_midwest,hcp_region_northeast,hcp_region_south,hcp_region_west
0,377317624,0,85,85,0,0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,1,0,0
1,73066609,0,80,78,0,0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,1,0,0,0
2,70175556,0,50,50,0,0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,1,0,0
3,713474282,0,83,81,0,0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,1,0,0,0
4,1563563420,0,70,64,0,0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
df_total = df_emr.merge(df_lrx, on = 'patient_id', how = 'left')

In [15]:
df_total.shape

(8524, 4806)

In [25]:
df_total = df_total.drop(columns = 'pn_flag_x')
df_total = df_total.rename(columns = {'pn_flag_y': 'pn_flag'})

In [27]:
df_total.to_csv(r'F:\Projects\Pfizer_mCRPC\Data\pre_modelling\Combined\01_Lrx_Dx_HCPCos_EMR_with_datediff_dummies_no_sparse.csv',
               index=False)