In [29]:
import pandas as pd
import re
import sys

In [24]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [25]:
sys.path.append('F:\Frederik\pfizer_mcrpc\paqc')

In [26]:
from paqc.utils import utils

In [6]:
df_onc = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_ONCEMR.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (15,16,17,18,70,146,148,150,152,154,156,158,160,162,164,166) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df_onc.tail()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,MET_DATE2,METAC_SITE_NM2,MET_DATE3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
5247,1711385250,2015-06-30,2017-06-29,NaN,NaN,2017-06-29,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5248,986817551,2012-07-21,2014-07-21,NaN,NaN,2014-07-21,BONE & CONNECTIVE TISSUE CANCER,2014-08-05,LIVER CANCER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5249,634119757,2014-05-06,2016-05-05,NaN,NaN,2016-05-05,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5250,1627395905,2013-07-23,2015-07-23,Stage IV,2012-01-01,2015-07-23,OTHER CANCER,2016-10-06,BONE & CONNECTIVE TISSUE CANCER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5251,781994092,2013-08-24,2015-08-24,NaN,NaN,2015-08-24,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

### Remove columns of later metastatic dates and sites

In [11]:
ls_metac_colnames = ['MET_DATE2', 'METAC_SITE_NM2', 'MET_DATE3', 'METAC_SITE_NM3', 'MET_DATE4', 'METAC_SITE_NM4', 'MET_DATE5',
                     'METAC_SITE_NM5', 'MET_DATE6', 'METAC_SITE_NM6', 'MET_DATE7', 'METAC_SITE_NM7']

In [13]:
df_onc_no_metac = df_onc.drop(columns=ls_metac_colnames)

In [14]:
df_onc_no_metac.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,ONC_PSA1,ONC_PSA_DATE1,ONC_PSA2,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,1563563420,2012-05-14,2014-05-14,Stage IV,2006-11-01,2014-05-14,BONE & CONNECTIVE TISSUE CANCER,15.6,2014-05-14,55.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1364456765,2015-04-02,2017-04-01,NaN,NaN,2017-04-01,LUNG CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,523105747,2014-09-17,2016-09-16,Stage IV,2012-10-29,2016-09-16,LUNG CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1151578636,2014-10-04,2016-10-03,Stage IV,2016-10-06,2016-10-03,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1427814564,2012-03-27,2014-03-27,NaN,NaN,2014-03-27,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## Make dummy variables

### METAC_SITE_NM1

In [21]:
# METAC_SITE_NM1 is a categorical column we want to keep
df_dummies = pd.get_dummies(df_onc_no_metac['METAC_SITE_NM1'], prefix = 'METAC_SITE')
df_dummies.head()

,METAC_SITE_BLADDER CANCER,METAC_SITE_BONE & CONNECTIVE TISSUE CANCER,METAC_SITE_BRAIN & NERVOUS SYSTEM CANCER,METAC_SITE_BREAST CANCER,METAC_SITE_COLORECTAL CANCER (CRC),METAC_SITE_HEAD & NECK CANCER,METAC_SITE_KIDNEY CANCER,METAC_SITE_LIVER CANCER,METAC_SITE_LUNG CANCER,METAC_SITE_OTHER CANCER,METAC_SITE_SKIN CANCER
0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0

In [33]:
# Clean up column names
dummy_colnames = [re.sub(r'&', '_', colname) for colname in df_dummies.columns]
dummy_colnames = [utils.clean_string(colname) for colname in dummy_colnames]
df_dummies.columns = dummy_colnames
df_dummies.head()

,metac_site_bladder_cancer,metac_site_bone_connective_tissue_cancer,metac_site_brain_nervous_system_cancer,metac_site_breast_cancer,metac_site_colorectal_cancer_crc_,metac_site_head_neck_cancer,metac_site_kidney_cancer,metac_site_liver_cancer,metac_site_lung_cancer,metac_site_other_cancer,metac_site_skin_cancer
0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0

In [36]:
df_onc_no_metac = df_onc_no_metac.drop(columns = ['METAC_SITE_NM1', 'MET_DATE1'])

In [37]:
df_onc_no_metac.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,ONC_PSA1,ONC_PSA_DATE1,ONC_PSA2,ONC_PSA_DATE2,ONC_PSA3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,1563563420,2012-05-14,2014-05-14,Stage IV,2006-11-01,15.6,2014-05-14,55.2,2014-02-19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1364456765,2015-04-02,2017-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,523105747,2014-09-17,2016-09-16,Stage IV,2012-10-29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1151578636,2014-10-04,2016-10-03,Stage IV,2016-10-06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1427814564,2012-03-27,2014-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [41]:
df_with_metac1 = pd.concat([df_onc_no_metac, df_dummies], axis=1)

### ONC_LATEST_STAGE

In [48]:
df_oncstage_dummies = pd.get_dummies(df_with_metac1['ONC_LATEST_STAGE'])

In [49]:
clean_colnames = [utils.clean_string(colname) for colname in df_onc_dummies.columns]
df_oncstage_dummies.columns = clean_colnames

In [50]:
df_with_metac_with_onc = pd.concat([df_with_metac1, df_oncstage_dummies], axis=1)

In [53]:
df_with_metac_with_onc = df_with_metac_with_onc.drop(columns = ['ONC_LATEST_STAGE'])
df_with_metac_with_onc.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE_DATE,ONC_PSA1,ONC_PSA_DATE1,ONC_PSA2,ONC_PSA_DATE2,ONC_PSA3,ONC_PSA_DATE3,...,metac_site_head_neck_cancer,metac_site_kidney_cancer,metac_site_liver_cancer,metac_site_lung_cancer,metac_site_other_cancer,metac_site_skin_cancer,stage_i,stage_ii,stage_iii,stage_iv
0,1563563420,2012-05-14,2014-05-14,2006-11-01,15.6,2014-05-14,55.2,2014-02-19,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
1,1364456765,2015-04-02,2017-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
2,523105747,2014-09-17,2016-09-16,2012-10-29,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
3,1151578636,2014-10-04,2016-10-03,2016-10-06,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
4,1427814564,2012-03-27,2014-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [59]:
pd.asi.types.is_numeric(df_with_metac_with_onc.dtypes)

AttributeError: module 'pandas' has no attribute 'asi'

In [75]:
ls_not_numeric = [not pd.api.types.is_numeric_dtype(dtype) for dtype in df_with_metac_with_onc.dtypes]
prog = re.compile('DATE[0-9]*$')
ls_not_date = [not bool(prog.search(colname)) for colname in df_with_metac_with_onc.columns]
ls_both = [num and date for num, date in zip(ls_not_numeric, ls_not_date)]
df_with_metac_with_onc.loc[:,ls_both].nunique()

ONC_HISTOLOGY     8
ONC_LATEST_T     19
ONC_LATEST_N     14
ONC_LATEST_M      5
dtype: int64

,PATIENT_ID,ONC_PSA1,ONC_PSA2,ONC_PSA3,ONC_PSA4,ONC_PSA5,ONC_PSA6,ONC_PSA7,ONC_PSA8,ONC_PSA9,...,metac_site_head_neck_cancer,metac_site_kidney_cancer,metac_site_liver_cancer,metac_site_lung_cancer,metac_site_other_cancer,metac_site_skin_cancer,stage_i,stage_ii,stage_iii,stage_iv
0,1563563420,15.60,55.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
1,1364456765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
2,523105747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
3,1151578636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
4,1427814564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5,1226746176,0.70,0.40,0.30,0.20,0.10,0.10,0.1,NaN,NaN,...,0,0,0,0,1,0,0,1,0,0
6,575253962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,708274862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
8,783589179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
9,1070600743,186.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
10,690833404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
11,323017945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
12,675613769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
13,348050486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
14,279972310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
15,1106141764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,0
16,565667349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
17,678825165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
18,677708311,1.90,6.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
19,1175128063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
20,1209190347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,0
21,172947659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
22,1021046988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
23,1317588535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
24,1303468932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
25,690849315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
26,568130788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
27,1408979209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
28,171596467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
29,857109282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222,740038072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5223,1727141020,89.85,50.77,14.79,6.97,3.25,4.57,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5224,1487484341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5225,1460900099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5226,775704645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5227,95659107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5228,1379167760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5229,781780256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
5230,234947812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5231,770969171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5232,819785946,4.06,4.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5233,1355367425,19.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
5234,31145451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5235,200991444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,1
5236,356460840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5237,1301955906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5238,641726109,6.32,4.31,4.59,3.91,3.28,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
5239,131539422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5240,1446204327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5241,172014779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
5242,913226754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,1
5243,57442851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
5244,131897378,7.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,0
5245,865204866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
5246,553351894,161.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5247,1711385250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5248,986817551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5249,634119757,172.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5250,1627395905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,1
5251,781994092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [56]:
df_with_metac_with_onc[['ONC_LATEST_T', 'ONC_HISTOLOGY']]

     ONC_LATEST_T                   ONC_HISTOLOGY
0             NaN             ADENOCARCINOMA, NOS
1             NaN                             NaN
2             NaN  GENITOURINARY: PROSTATE CANCER
3             NaN                             NaN
4             NaN                             NaN
5             NaN                  ADENOCARCINOMA
6             NaN                             NaN
7             NaN                             NaN
8             NaN                  ADENOCARCINOMA
9             NaN                             NaN
10             T3  GENITOURINARY: PROSTATE CANCER
11            NaN                             NaN
12            NaN                             NaN
13            NaN                             NaN
14            NaN                             NaN
15            NaN                             NaN
16            NaN                             NaN
17            T1c  GENITOURINARY: PROSTATE CANCER
18             T2             ADENOCARCINOMA, NOS
19            NaN                             NaN
20            NaN                             NaN
21            NaN                  ADENOCARCINOMA
22            NaN                             NaN
23            NaN             ADENOCARCINOMA, NOS
24             T2  GENITOURINARY: PROSTATE CANCER
25            NaN             ADENOCARCINOMA, NOS
26            NaN                             NaN
27            NaN                             NaN
28            NaN                  ADENOCARCINOMA
29            NaN                             NaN
...           ...                             ...
5222          NaN                             NaN
5223          NaN             ADENOCARCINOMA, NOS
5224          NaN                             NaN
5225          NaN                             NaN
5226          NaN                  ADENOCARCINOMA
5227          NaN                  ADENOCARCINOMA
5228          NaN  GENITOURINARY: PROSTATE CANCER
5229          NaN                             NaN
5230          NaN                  ADENOCARCINOMA
5231          NaN                             NaN
5232          NaN                             NaN
5233          NaN                             NaN
5234          NaN                             NaN
5235          NaN             ADENOCARCINOMA, NOS
5236          NaN                             NaN
5237          NaN                             NaN
5238          NaN                             NaN
5239          NaN                             NaN
5240          NaN                             NaN
5241          NaN                             NaN
5242          NaN                             NaN
5243          T1c                             NaN
5244          NaN                             NaN
5245          NaN                             NaN
5246          T1c                             NaN
5247          NaN                             NaN
5248          NaN                             NaN
5249          NaN                             NaN
5250          NaN                  ADENOCARCINOMA
5251          NaN                             NaN

[5252 rows x 2 columns]