In [41]:
import pandas as pd
import feather

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [30]:
df_lrx = pd.read_excel(r'F:\Projects\Pfizer_mCRPC\Data\raw_data\Lrx_Dx\Pfizer_mCRPC_Patients.xlsx')
df_onc = pd.read_excel(r'F:\Projects\Pfizer_mCRPC\Data\raw_data\Oncology_EMR\patients_link_OncEMR.xlsx')
df_uro = pd.read_excel(r'F:\Projects\Pfizer_mCRPC\Data\raw_data\Urology_EMR\UROEMR_Patients_list_01102018.xlsx')

In [31]:
df_lrx = df_lrx[['PATIENT_ID', 'PN_FLAG']]

In [32]:
df_lrx['PN_FLAG'] = df_lrx['PN_FLAG'].map({'N':0, 'P':1})

In [33]:
df_lrx.head()

   PATIENT_ID  PN_FLAG
0   377317624        0
1    73066609        0
2    70175556        0
3   713474282        0
4  1563563420        0

In [34]:
df_onc = df_onc.merge(df_lrx, how ='left', on = 'PATIENT_ID')

In [36]:
df_uro = df_uro.merge(df_lrx, how ='left', on = 'PATIENT_ID')[['PATIENT_ID', 'PN_FLAG']]

In [49]:
df_onc_and_uro = df_onc[df_onc['PATIENT_ID'].isin(df_uro['PATIENT_ID'])]

In [53]:
df_onc_or_uro = df_lrx[df_lrx['PATIENT_ID'].isin(df_onc['PATIENT_ID']) | df_lrx['PATIENT_ID'].isin(df_uro['PATIENT_ID'])]

In [43]:
pos = df_lrx['PN_FLAG'].sum()
neg = df_lrx.shape[0] - pos
print(pos, neg)

3106 67777

In [44]:
pos = df_onc['PN_FLAG'].sum()
neg = df_onc.shape[0] - pos
print(pos, neg)

276 4976

In [47]:
pos = df_uro['PN_FLAG'].sum()
neg = df_uro.shape[0] - pos
print(pos, neg)

320 3324

In [50]:
pos = df_onc_and_uro['PN_FLAG'].sum()
neg = df_onc_and_uro.shape[0] - pos
print(pos, neg)

36 336

In [54]:
pos = df_onc_or_uro['PN_FLAG'].sum()
neg = df_onc_or_uro.shape[0] - pos
print(pos, neg)

560 7964