In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_ONCEMR.xlsx')

In [6]:
df.head()

,PATIENT_ID,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,MET_DATE2,METAC_SITE_NM2,MET_DATE3,METAC_SITE_NM3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,579090634,2015-08-19,Stage IV,2011-01-01,2015-08-19,OTHER CANCER,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,N
1,1769925066,2014-02-05,Stage IV,2015-05-01,2014-02-05,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,N
2,351771076,2015-01-22,Stage IV,2013-04-17,2015-01-22,BONE & CONNECTIVE TISSUE CANCER,2015-02-05,OTHER CANCER,NaT,NaN,...,2013-04-17,NaN,NaT,NaN,NaT,M0,2013-04-17,NaN,NaT,N
3,127438607,2016-10-27,Stage IV,2008-01-01,2016-10-27,OTHER CANCER,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,N
4,529344072,2015-07-31,Stage IV,2015-06-01,2015-07-31,BONE & CONNECTIVE TISSUE CANCER,2017-04-25,OTHER CANCER,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,N

In [7]:
df.dtypes

PATIENT_ID                          int64
INDEX_DATE                 datetime64[ns]
ONC_LATEST_STAGE                   object
ONC_LATEST_STAGE_DATE      datetime64[ns]
MET_DATE1                  datetime64[ns]
METAC_SITE_NM1                     object
MET_DATE2                  datetime64[ns]
METAC_SITE_NM2                     object
MET_DATE3                  datetime64[ns]
METAC_SITE_NM3                     object
MET_DATE4                  datetime64[ns]
METAC_SITE_NM4                     object
MET_DATE5                  datetime64[ns]
METAC_SITE_NM5                     object
MET_DATE6                  datetime64[ns]
METAC_SITE_NM6                     object
MET_DATE7                  datetime64[ns]
METAC_SITE_NM7                     object
ONC_PSA1                          float64
ONC_PSA_DATE1              datetime64[ns]
ONC_PSA2                          float64
ONC_PSA_DATE2              datetime64[ns]
ONC_PSA3                          float64
ONC_PSA_DATE3              datetime64[ns]
ONC_PSA4                          float64
ONC_PSA_DATE4              datetime64[ns]
ONC_PSA5                          float64
ONC_PSA_DATE5              datetime64[ns]
ONC_PSA6                          float64
ONC_PSA_DATE6              datetime64[ns]
                                ...
ONC_TOTAL_TESTO_DATE13     datetime64[ns]
ONC_TOTAL_TESTO14                 float64
ONC_TOTAL_TESTO_DATE14     datetime64[ns]
ONC_TOTAL_TESTO15                 float64
ONC_TOTAL_TESTO_DATE15     datetime64[ns]
ONC_TOTAL_TESTO16                 float64
ONC_TOTAL_TESTO_DATE16     datetime64[ns]
ONC_TOTAL_TESTO17                 float64
ONC_TOTAL_TESTO_DATE17     datetime64[ns]
ONC_TOTAL_TESTO18                 float64
ONC_TOTAL_TESTO_DATE18     datetime64[ns]
ONC_FREE_TESTO1                   float64
ONC_FREE_TESTO_DATE1       datetime64[ns]
ONC_FREE_TESTO2                   float64
ONC_FREE_TESTO_DATE2       datetime64[ns]
ONC_FREE_TESTO3                   float64
ONC_FREE_TESTO_DATE3       datetime64[ns]
ONC_FREE_TESTO4                   float64
ONC_FREE_TESTO_DATE4       datetime64[ns]
ONC_HISTOLOGY                      object
ONC_TNM_DATE               datetime64[ns]
ONC_LATEST_T                       object
ONC_LATEST_T_DATE          datetime64[ns]
ONC_LATEST_N                       object
ONC_LATEST_N_DATE          datetime64[ns]
ONC_LATEST_M                       object
ONC_LATEST_M_DATE          datetime64[ns]
ONC_LATEST_GLEASON                float64
ONC_LATEST_GLEASON_DATE    datetime64[ns]
PN_FLAG                            object
Length: 185, dtype: object