In [1]:
import sys

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
sys.path.append('F:\Frederik\pfizer_mcrpc\paqc')

In [4]:
import pandas as pd
from functools import reduce

In [5]:
df_cpt1 = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_CPT1.csv')
df_cpt2 = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_CPT2.csv')
df_diag1 = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_DIAG1.csv')
df_diag2 = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_DIAG2.csv')
df_gpi = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_GPI.csv')
df_hcpcs = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_HCPCS.csv')
df_spec = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_Specialty.csv')
df_pat = pd.read_excel(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_Patients.xlsx')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19,20,75,76,123,124,139,140,299,300,531,532) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (287,288,439,440,611,612,647,648,743,744,751,752) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (147,148,219,220,255,256,379,380,395,396,435,436,443,444,531,532,547,548) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [77]:
df_pat = df_pat.rename(columns = {'PATIENT_ID':'patient_id'})

In [78]:
dfs = [df_pat, df_cpt1, df_cpt2, df_diag1, df_diag2, df_gpi, df_hcpcs, df_spec]

In [7]:
df_pat

       PATIENT_ID PN_FLAG  AGE_INDEX  AGE_PC INDEX_DATE LOOKBACK_DATE
0       377317624       N         85      85 2016-04-21    2014-04-22
1        73066609       N         80      78 2017-05-08    2015-05-09
2        70175556       N         50      50 2016-06-20    2014-06-21
3       713474282       N         83      81 2016-04-24    2014-04-25
4      1563563420       N         70      64 2014-05-14    2012-05-14
5       509874715       N         85      85 2014-04-10    2012-04-10
6       748875638       N         78      72 2017-04-05    2015-04-06
7       656273593       N         66      66 2015-09-14    2013-09-14
8      1753935408       N         80      80 2016-02-08    2014-02-08
9      1364456765       N         75      75 2017-04-01    2015-04-02
10      545087636       N         76      68 2015-04-23    2013-04-23
11      816978008       N         70      70 2016-11-10    2014-11-11
12      707682140       N         82      77 2017-03-30    2015-03-31
13     1165766479       N         78      70 2014-02-04    2012-02-05
14      711685629       N         85      85 2016-03-07    2014-03-08
15     1024039163       N         65      52 2014-04-23    2012-04-23
16      523105747       N         72      68 2016-09-16    2014-09-17
17      796916295       N         85      85 2014-06-09    2012-06-09
18      626029524       N         85      85 2014-04-04    2012-04-04
19       91728018       N         72      67 2015-01-19    2013-01-19
20      510171344       N         81      82 2014-10-10    2012-10-10
21     1443064138       N         66      65 2014-08-06    2012-08-06
22      140498940       N         78      78 2014-12-29    2012-12-29
23     1180140057       N         82      76 2015-06-18    2013-06-18
24     1202574554       N         48      45 2014-08-01    2012-08-01
25     1769695505       N         85      85 2014-07-08    2012-07-08
26      369796677       N         55      55 2016-12-21    2014-12-22
27     1259783522       N         80      73 2014-01-06    2012-01-07
28      712958974       N         71      71 2015-05-15    2013-05-15
29      796238284       N         65      60 2016-08-22    2014-08-23
...           ...     ...        ...     ...        ...           ...
70853  1627395905       P         74      71 2015-07-23    2013-07-23
70854   367099794       P         61      60 2017-03-22    2015-03-23
70855  1109216650       P         57      53 2014-02-03    2012-02-04
70856  1625670459       P         76      72 2015-06-16    2013-06-16
70857   680841366       P         61      61 2017-06-19    2015-06-20
70858   287744304       P         74      74 2015-08-05    2013-08-05
70859   418097006       P         79      77 2015-04-08    2013-04-08
70860   211770793       P         49      49 2016-10-21    2014-10-22
70861   781994092       P         73      59 2015-08-24    2013-08-24
70862    61426863       P         85      85 2015-02-01    2013-02-01
70863   379417990       P         73      72 2016-09-08    2014-09-09
70864  1273908304       P         74      72 2016-11-04    2014-11-05
70865  1536832219       P         85      85 2017-05-27    2015-05-28
70866   850553113       P         57      53 2015-12-04    2013-12-04
70867   519034696       P         63      61 2015-02-23    2013-02-23
70868   353204960       P         64      57 2016-12-22    2014-12-23
70869  1769895365       P         69      59 2016-08-01    2014-08-02
70870   415845147       P         85      85 2014-01-15    2012-01-16
70871   179925208       P         74      74 2017-06-15    2015-06-16
70872   523440735       P         66      66 2014-02-05    2012-02-06
70873  1248783419       P         68      66 2017-06-27    2015-06-28
70874    83704409       P         74      69 2015-06-26    2013-06-26
70875  1121522242       P         72      66 2014-12-14    2012-12-14
70876    93704628       P         61      61 2017-05-10    2015-05-11
70877   435939553       P         73      71 2014-05-29    2012-05-29
70878   911918575       P         66      63 2015-12-15    2013-12-15
70879   656672543       P         85      85 2017-06-01    2015-06-02
70880    67007498       P         80      79 2015-05-18    2013-05-18
70881   572763937       P         76      64 2014-02-04    2012-02-05
70882  1265001855       P         63      58 2015-03-24    2013-03-24

[70883 rows x 6 columns]

In [6]:
pat_ids = set(df_pat['patient_id'])

KeyError: 'patient_id'

In [80]:
# All dataframe have exactly the same patient ids
[df['patient_id'].isin(pat_ids).all() for df in dfs[1:]]
[df.shape[0] == len(pat_ids) for df in dfs]

[True, True, True, True, True, True, True]

[True, True, True, True, True, True, True, True]

In [84]:
df_pat[['INDEX_DATE', 'LOOKBACK_DATE']] = df_pat[['INDEX_DATE', 'LOOKBACK_DATE']].apply(lambda x: pd.to_datetime(x, format = '%Y-%m-%d'))

In [85]:
df_pat.head()

   patient_id PN_FLAG  AGE_INDEX  AGE_PC INDEX_DATE LOOKBACK_DATE
0   377317624       N         85      85 2016-04-21    2014-04-22
1    73066609       N         80      78 2017-05-08    2015-05-09
2    70175556       N         50      50 2016-06-20    2014-06-21
3   713474282       N         83      81 2016-04-24    2014-04-25
4  1563563420       N         70      64 2014-05-14    2012-05-14

In [94]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='patient_id', how='left'), dfs)

In [95]:
df_final.to_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\total.csv', date_format = '%m/%d/%Y', index=False)

In [96]:
df_final = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\total.csv', nrows = 5)

In [97]:
df_final.head()

,patient_id,PN_FLAG,AGE_INDEX,AGE_PC,INDEX_DATE,LOOKBACK_DATE,C00142_FLAG,C00142_CLAIM_CNT,C00142_MIN_DT,C00142_MAX_DT,...,S61_MIN_DT,S61_MAX_DT,S62_FLAG,S62_CLAIM_CNT,S62_MIN_DT,S62_MAX_DT,S63_FLAG,S63_CLAIM_CNT,S63_MIN_DT,S63_MAX_DT
0,377317624,N,85,85,04/21/2016,04/22/2014,0,0,NaN,NaN,...,07/22/2015,01/22/2016,0,0,NaN,NaN,0,0,NaN,NaN
1,73066609,N,80,78,05/08/2017,05/09/2015,0,0,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN
2,70175556,N,50,50,06/20/2016,06/21/2014,0,0,NaN,NaN,...,05/02/2016,06/15/2016,0,0,NaN,NaN,0,0,NaN,NaN
3,713474282,N,83,81,04/24/2016,04/25/2014,0,0,NaN,NaN,...,05/07/2014,04/24/2016,1,1,02/18/2016,02/18/2016,1,2,02/12/2016,03/07/2016
4,1563563420,N,70,64,05/14/2014,05/14/2012,0,0,NaN,NaN,...,05/18/2012,05/06/2014,0,0,NaN,NaN,0,0,NaN,NaN