In [1]:
import pandas as pd
import sys
import re

In [2]:
sys.path.append('F:\Frederik\pfizer_mcrpc\paqc')

In [3]:
from paqc.report import report
from paqc.connectors import csv
from paqc.driver import driver
from paqc.utils import config_utils, utils

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [50]:
df_EMR = pd.read_excel(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Oncology_EMR\Pfizer_mCRPC_ONCEMR_update.xlsx')
df_pat_id = pd.read_excel(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_Patients.xlsx')

In [51]:
df_EMR['PN_FLAG'] = df_EMR['PN_FLAG'].map({'N': 0, 'P': 1})
df_EMR.head()

,PATIENT_ID,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,MET_DATE2,METAC_SITE_NM2,MET_DATE3,METAC_SITE_NM3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,579090634,2015-08-19,Stage IV,2011-01-01,2015-08-19,OTHER CANCER,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
1,1769925066,2014-02-05,Stage IV,2015-05-01,2014-02-05,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
2,351771076,2015-01-22,Stage IV,2013-04-17,2015-01-22,BONE & CONNECTIVE TISSUE CANCER,2015-02-05,OTHER CANCER,NaT,NaN,...,2013-04-17,NaN,NaT,NaN,NaT,M0,2013-04-17,NaN,NaT,0
3,127438607,2016-10-27,Stage IV,2008-01-01,2016-10-27,OTHER CANCER,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
4,529344072,2015-07-31,Stage IV,2015-06-01,2015-07-31,BONE & CONNECTIVE TISSUE CANCER,2017-04-25,OTHER CANCER,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0

In [52]:
df_merged = df_pat_id[['PATIENT_ID', 'LOOKBACK_DATE']].merge(df_EMR, on='PATIENT_ID', how='right')

In [53]:
df_merged.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,MET_DATE2,METAC_SITE_NM2,MET_DATE3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,1563563420,2012-05-14,2014-05-14,Stage IV,2006-11-01,2014-05-14,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
1,1364456765,2015-04-02,2017-04-01,NaN,NaT,2017-04-01,LUNG CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
2,523105747,2014-09-17,2016-09-16,Stage IV,2012-10-29,2016-09-16,LUNG CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
3,1151578636,2014-10-04,2016-10-03,Stage IV,2016-10-06,2016-10-03,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
4,1427814564,2012-03-27,2014-03-27,NaN,NaT,2014-03-27,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0

In [54]:
df_merged.to_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Oncology_EMR\Pfizer_mCRPC_ONCEMR_update.csv', index=False)

# PAQC

In [57]:
# Run the qcs again, with some extras
d = driver.Driver(r'F:\Frederik\pfizer_mcrpc\pfizer_mcrpc\raw_data\QC\general_config_onc_EMR.yml')
d.run()

Loading config file...
Checking and parsing config file...
Config file checked and parsed. Starting QC pipeline...
-------------------------------------------------------
Starting QCs on input1, file path: F:/Projects/Pfizer_mCRPC/Data/Raw_data/Oncology_EMR/Pfizer_mCRPC_ONCEMR_update.csv

F:\Frederik\pfizer_mcrpc\paqc\paqc\driver\driver.py:108: DtypeWarning: Columns (16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  self.do_qc(input_n, self.general[input_n], ls_qcs)

Executing test qc9 on input1: F:/Projects/Pfizer_mCRPC/Data/Raw_data/Oncology_EMR/Pfizer_mCRPC_ONCEMR_update.csv
Executing test qc9 on input1: F:/Projects/Pfizer_mCRPC/Data/Raw_data/Oncology_EMR/Pfizer_mCRPC_ONCEMR_update.csv
Executing test qc9 on input1: F:/Projects/Pfizer_mCRPC/Data/Raw_data/Oncology_EMR/Pfizer_mCRPC_ONCEMR_update.csv
Executing test qc9 on input1: F:/Projects/Pfizer_mCRPC/Data/Raw_data/Oncology_EMR/Pfizer_mCRPC_ONCEMR_update.csv
-------------------------------------------------------
Generating HTML and CSV report...
-------------------------------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

## Look into failed tests PAQC

In [16]:
dict_config = config_utils.config_open(r'F:\Frederik\pfizer_mcrpc\pfizer_mcrpc\raw_data_processing\QC\general_config_onc_EMR.yml')[1]

In [17]:
df_onc = csv.read_csv(dict_config, dict_config['general']['input1'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [24]:
# Of the 5200 patients, 2000 have a onc_latest_stage_date, 400 of those are after the index date
df_onc.shape[0]
df_onc['ONC_LATEST_STAGE_DATE'].isnull().sum()
(df_onc['ONC_LATEST_STAGE_DATE'] > df_onc['INDEX_DATE']).sum()

5252

3222

443

In [29]:
(df_onc['MET_DATE1'] == df_onc['INDEX_DATE']).sum()

5251

In [28]:
df_onc.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,MET_DATE2,METAC_SITE_NM2,MET_DATE3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,1563563420,2012-05-14,2014-05-14,Stage IV,2006-11-01,2014-05-14,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
1,1364456765,2015-04-02,2017-04-01,NaN,NaT,2017-04-01,LUNG CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
2,523105747,2014-09-17,2016-09-16,Stage IV,2012-10-29,2016-09-16,LUNG CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
3,1151578636,2014-10-04,2016-10-03,Stage IV,2016-10-06,2016-10-03,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
4,1427814564,2012-03-27,2014-03-27,NaN,NaT,2014-03-27,BONE & CONNECTIVE TISSUE CANCER,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0

In [30]:
df_onc['MET_DATE1'].isnull().sum()

1